@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body {
  background-color: #212121;
}

h1 {
  color: white;
  font-size: 70px;
  margin-top: 50px;
  font-family: 'Aboreto', cursive;
  text-transform: uppercase;
}

label {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.btn {
  width: 100px;
  height: 38px;
}

.btn2 {
  width: 200px;
  height: 38px;
}

.btn2 .form-control,
.btn,
.btn2,
.form-control:valid,
.form-control:focus {
  background-color: #212121;
  color: white;
  border-style: none;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 1), -3px -3px 10px rgba(255, 255, 255, 0.1);
}

.form-control:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.btn:hover,
.btn2:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  color: white;
}

.btn:active,
.btn2:active {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6), inset -2px -2px 10px rgba(255, 255, 255, 0.1);
}

table {
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  background-color: #212121;
}

th {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
}

.table-striped,
th {
  border: #686767;
}
